{deps_dir, "deps"}.
{deps, [
		lager
		, goldrush
		, poolboy
		, eql
		, jsx
		, cowlib
		, cowboy
		, ranch
		, mysql
		, mysql_poolboy
		, cfg
]}.
{erl_first_files, []}.

{erl_opts, [
		{parse_transform, lager_transform}
		, {i, "./include"}
		, {i, "./deps/cfg/include"}
		, strict_validation
		, warn_bif_clash
		, warn_exported_vars
		, warn_unused_import
		, warn_unused_function
		, warn_obsolete_guard
		, warning_as_errors
		, warn_unused_vars
		, report
		, verbose
		, {inline_size, 30}
		, inline_list_funcs
%%	,no_debug_info
		, {debug_info, des3_cbc, [], "taoooooooooooo"}
%%	,native
%%	,{hipe, [o3]}
]}.
%% 禁用 xref 工具生成的警告信息
{xref_warining, false}.
%% 额外搜索的路径
{xref_extra_paths, [
		"deps/lager/ebin"
		, "deps/goldrush/ebin"
		, "deps/poolboy/ebin"
		, "deps/eql/ebin"
		, "deps/jsx/ebin"
		, "deps/cowlib/ebin"
		, "deps/cowboy/ebin"
		, "deps/ranch/ebin"
		, "deps/mysql/ebin"
		, "deps/mysql_poolboy/ebin"
		, "deps/cfg/ebin"
]}.
%% xref静态代码检查，以及检查的选项
{xref_checks, [
		undefined_functions_calls
		, undefined_functions
]}.
{xref_queries,
		[{"(xc - uc) || (xu - x - b - (\"mod\":\".*foo\"/\"4\"))", []}
		]}.