[
    {
        game,[
            {platform_id, 9999}
            ,{server_id, 1}
            ,{open_time, {{2018,1,1},{0,0,0}}}
            ,{merge_ids, []}
            ,{merge_time, {}}
            ,{is_develop, 1}

            %% 数据库配置
            ,{db_config, {
                {host, "127.0.0.1"}
                ,{port, 3306}
                ,{user, "root"}
                ,{password, "123456"}
                ,{database, "game1"}
    %%            ,{tpc_optoons, [{recbuf, 8388608}, {sndbuf, 8388608}]}
                ,{poolboy_options, [{size, 30}, {max_overflow, 60}]}
            }}

            %% 网络配置
            ,{port, 7061}
            ,{admin_port, 7062}
            ,{ws_port, 7063}
            ,{wss_port, 7064}
            ,{cacertfile, "priv/ssl/server-ca.crt"}
            ,{certfile, "priv/ssl/server.crt"}
            ,{keyfile, "priv/ssl/server.key"}
            ,{acceptor_num, 12}
            ,{tcp_options, [
                binary
                ,{packet, 0}
                ,{active, false}
                ,{reuseaddr, true}
                ,{nodelay, false}
                ,{delay_send, true}
                ,{exit_on_close, false}
                ,{send_timeout, 10000}
                ,{send_timeout_close, false}
            ]}
            %% 日志等级
            ,{log_level, 6}
        ]
    },  %% end_time
    {
        larger,[
            {crash_log, false}
            ,{error_logger_redirect, true}
            ,{async_threshold,20}
            ,{async_threshold_window, 5}
            ,{handlers, [
                {lager_console_backend, debug}
                ,{lager_file_daily_backend, [{name, "error"}, {dir, "log"}, {level, error}, {count, 12}]}
                ,{lager_file_daily_backend, [{name, "default"}, {dir, "log"}, {level, info}, {count,30}]}
            ]}
        ]
    }

].
